/* add your CSS here */
.card {
    font-family: Arial;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    /* Add box-shadow to three sides of the card */
    box-shadow: 0px 5px 3px #bbb, -3px 8px 5px #eee, 3px 8px 5px #eee;
}

.title {
    font-size: 30px;
    margin: 8px 0 15px 5px;
}

.main-img {
    width: 300px;
    margin: auto;
}